.card_container {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    max-width: 300px;
    padding: 1.5rem;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    text-decoration: none;
}
.card_container:hover {
    transform: scale(1.03);
}

.card_container img {
    background: no-repeat center center;
    width: 250px;
    height: 250px;
    border-radius: 8px;
    object-fit: cover;
}
.card_container p {
    margin-top: 10px;
    font-family: 'Poppins';
    text-align: justify;
    color: black;
}
.card_container h3 {
    color: black;
    font-family: 'Poppins';
    margin-bottom: 1rem;
}